@{
    ViewData["Title"] = "Login";
}
<link rel="stylesheet" href="~/css/estilosGeneral.css" />
<h2>Login</h2>

<form method="post">
    <div class="divForn">
        <label>Usuario:</label>
        <input type="text" name="usuario" required />
    </div>
    <div  class="divForn">
        <label>Contraseña:</label>
        <input type="password" name="clave" required />
    </div>
    <button type="submit">Iniciar sesión</button>
</form>

@if (ViewBag.Mensaje != null)
{
    <p style="color:red;">@ViewBag.Mensaje</p>
}

